<%= render :partial => "menu" %>

<% form_for @computer_asset, :builder => TableFormBuilder do |form| %>
<div class="span-12">
<fieldset>
  <legend><%= t("activerecord.models.computer_asset") %></legend>
  <%= error_messages_for :computer_asset %>
  <table>
    <% form.tr :developer_name do |method| %>
       <%= text_field_with_auto_complete form.object_name, method %>
    <% end %>
    <% form.tr :product_name do |method| %>
      <%= form.text_field method %>
    <% end %>
    <% form.tr :model_number do |method| %>
      <%= form.text_field method %>
    <% end %>
  </table>
</fieldset>
</div>
<div class="span-12 last">
<fieldset>
  <legend><%= t("activerecord.models.utilization") %></legend>
  <%= error_messages_for :utilization %>
  <table>
  <% fields_for @utilization, :builder => TableFormBuilder do |utilization_fields| %>
    <% utilization_fields.tr :user_id do |method| %>
      <%= utilization_fields.collection_select method, current_user.group.users, :id, :login, :include_blank => t("no_user") %>
    <% end %>
    <% utilization_fields.tr :started_on do |method| %>
      <%= utilization_fields.text_field method %>
      <%= link_to_function t("today"), "$('utilization_started_on').value = '#{Date.today}'" %>
    <% end %>
    <% utilization_fields.tr :parent_id do |method| %>
      <%= utilization_fields.collection_select method, current_group.utilizations.include_asset.map{|u| [u.id, u.computer_asset.product_name]}, :first, :last, :include_blank => true  %>
    <% end %>
    <% utilization_fields.tr :description do |method| %>
      <%= utilization_fields.text_field method %>
    <% end %>
  <% end %>
  </table>
</fieldset>
</div>
<div class="clear" />
<div>
<% unless @computer_asset.new_record? %>
  <span style="float:right"><%= link_to t("delete"), computer_asset_path(@computer_asset), :method => "delete" %></span>
<% end %>
  <div style="text-align:center"><%= submit_tag t(@computer_asset.new_record? ? "create" : "update") %></div>
</div>
<% end %>

<% unless @computer_asset.new_record? %>
<hr/>

<h3><%= t("utilizations.children") %></h3>
<%= render :partial => "index", :locals => {:computer_assets => @utilization.children.map(&:computer_asset)} %>

<h3><%= t("utilizations.revisions") %></h3>
<table>
  <tr>
<!--    <th>revision</th> -->
    <th><%= h t("activerecord.attributes.utilization.user_id") %></th>
    <th><%= h t("activerecord.attributes.utilization.started_on") %></th>
    <th><%= h t("activerecord.attributes.utilization.description") %></th>
  </tr>
  <% @utilizations.each do |utilization| %>
    <tr class='<%= cycle "", "even" %>'>
<!--      <td><%#= utilization.revision %></td> -->
      <td><%= h utilization.user.try(:login) %></td>
      <td><%= h utilization.started_on %></td>
      <td><%= h utilization.description %></td>
    </tr>
  <% end %>
</table>
<% end %>
